.product_container{
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: row;
  padding: 10px;
}

.text_container{
  display: flex;
  align-items: center;
  flex: 1;
}

.bold{
  font-weight: bold;
}